.hello-container {
    width: 60%;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
button {
    padding: 12px 8px;
}
.btn-cnt {
    width: 100%;
    display: flex;    
    justify-content: center;
}
div > button {
    margin-left: 20px;
}
.directive-cnt {
    width: 60%;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}