.hello-container {
    width: 60%;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
button {
    padding: 12px 8px;
}