<div class="hello-container">
    <p>hello-world works!</p>
    <span>{{ message }}</span>
    <button (click) = "handleClick()"> Click Me </button>
    <span [id] = "spanId" [style.color] = "spanColor">Demo property binding</span>
    <div class="btn-cnt">
        <button (click) = "handleToggleVisibility()">{{visibility ? "Hide" : "Show"}}</button>
        <button (click) = "handlePrintName()">Print Name</button>
    </div>
    <span [style.display] = "display">{{ name }}</span>
</div>
<div class="directive-cnt">
    <div *ngIf="canEdit; else noEdit">
        <p>You can edit the following paragraph.</p>
    </div>
    
    <ng-template #noEdit>
        <p>The following paragraph is read only. Try clicking the button!</p>
    </ng-template>
    
    <p [contentEditable]="canEdit">{{ editMessage }}</p>
    <button type="button" (click)="onEditClick()">{{canEdit ? "Make text readable" : "Make text editable"}}</button>
</div>


